/*font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Yeseva One', cursive; */

body {
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

P {
  font-family: "Poppins", sans-serif;
}
